.quiz-page {
     height: 100vh;
    margin: 80px;
    .quiz-container {
        width: 100%;
    }  
    .sumary-result-container {
        width: 100%;
        .sumary-chart {
            text-align: center;
        }
    } 
    .leaderboard-container {
        width: 200px;
        background-color: red;;
    }
}