$primary-color: #3498db;
$secondary-color: #2ecc71;
$background-color: white;
$background-secondary: black;
$text-color: black;
$text-secondary: white;
$text-grey: #3A3A3A;

$font-family: 'Arial, sans-serif';